
<configuration>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{dd:ss} - %msg%n
            </pattern>
        </layout>
    </appender>
    <!--<appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>ERROR</level>-->
            <!--<onMatch>DENY</onMatch>-->
            <!--<onMismatch>ACCEPT</onMismatch>-->
        <!--</filter>-->
        <!--<encoder>-->
            <!--<pattern>-->
                <!--%d{MM:dd-hh:mm} - %msg%n-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash; 滚动策略 &ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; 路径 &ndash;&gt;-->
            <!--<fileNamePattern>g:/info.%d.log</fileNamePattern>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->
    <root lever="warn">
        <!--<appender-ref ref="consoleLog"/>-->
        <!--<appender-ref ref="fileInfoLog"/>-->
    </root>
</configuration>